@font-face {
    font-family: "Comfortaa Regular";
    src: url(../fonts/Comfortaa-Regular.ttf);
}
@font-face {
    font-family: "Comfortaa Light";
    src: url(../fonts/Comfortaa-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    outline: none;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    color: #555;
    font-family: "Comfortaa Regular", arial, sans-serif;
    background-color: #ea9f34;
}

.camera {
    width: 100%;
    height: 100%;

    background-color: #333;
}

h1 {
    padding: 15px 0;
    height: 50px;
    background-color: #f7f7f7;
    text-align: center;
}

.camera-view {
    margin: 0;
    width: 100%;
    height: calc(100% - 55px);
}

.camera-capture-button {
    position: fixed;
    bottom: 50px;
    left: calc(50% - 30px);

    width: 60px;
    height: 60px;

    background-color: #aaa;

    border-radius: 50%;
    border: 4px solid #fff;
    cursor: pointer;
}

.camera-result-wrapper {
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%;
    height: calc(100% - 100px);

    z-index: 2;
    display: none;
}

.camera-result {
    width: 100%;
    height: 100%;
}

.camera-data-button {
    position: fixed;
    bottom: 0;
    width: 50%;
    height: 50px;
    border: none;
}

.camera-data-submit {
    left: 0;
    background-color: #ea9f34;
}

.camera-data-retake {
    right: 0;
    background-color: #fff;
}
